html, body {
  height: 100%;
}

body {
  background-color: gray;
  margin: 0px;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: aqua;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex-shrink: 0;
  background-color: burlywood;
}

.header, .content, .footer {
  padding: 10px;
}